/* footer  */
/* first section  */
.higher_footer_bg {
  background-image: linear-gradient(#020202, #1D252C);
  width: 100%;
}
.higher_footer_wrapper {
  justify-content: space-between;
  align-content: center;
  padding: 40px 0px;
  color: #B6A6AA;
  display: flex;
  margin: auto;
  height: 100%;
}
.higher_footer_left {
  height: 100%;
}
.footer_slim_logo {
  position: relative;
  width: 300px;
  height: 100px;
}
.footer_upper_slim_logo {
  position: absolute;
  left: 0;
  top: 10%;
}
.footer_middle_slim_logo {
  transform: translate(-300%, -30%);
  position: absolute;
  left: 50%;
  top: 50%;
}
.footer_lower_slim_logo {
  position: absolute;
  bottom: 10%;
  left: 0;
}
.higher_left_title {
  font-size: 25px;
  margin-top: 40px;
  color: #F5731F;
}
.footer_icons {
  margin: 0px 5px;
}
.right_footer {
  justify-content: center;
  flex-direction: column;
  align-content: center;
  display: flex;
  width: 100%;
}
.higher_footer_right {
  justify-content: space-between;
  align-content: center;
  display: flex;
  height: 100%;
  width: 100%;
}
.higher_footer_right h5 {
  color: #F5731F;
}
.business_footer_list {
  padding-top: 20px;
}
.business_footer_list p {
  text-transform: uppercase;
  padding: 5px 0px;
}
.business_footer_list p i {
  margin-left: 10px;
}
#products {
  color: #F5731F;
}
#products img {
  vertical-align: middle;
}
#configuration_products {
  color: #F5731F;
}
#configuration_products img {
  vertical-align: middle;
}
.menu_higher_footer_block .menu_footer_list {
  grid-template-columns: repeat(2, 1fr);
  padding-top: 20px;
  display: grid;
}
.lingue_higher_footer_block .lingue_footer_list {
  padding-top: 20px;
}
.business_higher_footer_block {
  width: 35%;
}
.menu_higher_footer_block {
  width: 35%;
}
.lingue_higher_footer_block {
  width: 20%;
}
.nested_footer_right {
  justify-content: space-around;
  align-content: flex-start;
  flex-direction: column;
  display: flex;
  margin: auto;
  height: 100%;
  width: 100%;
}
.nested_footer_right p {
  padding-top: 20px;
  font-size: 0.8rem;
  color: #B6A6AA;
  margin: 0px;
}
.nested_design_right {
  background-color: #190000;
  height: 4px;
  width: 100%
}
/* desktop  */
@media screen and (min-width: 992 px) and (max-width: 1200px) {

}
/* tablet  */
@media screen and (min-width: 768px) and (max-width: 991px) {

}
/* mobile  */
@media screen and (min-width: 0px) and (max-width: 767px) {
  .higher_footer_wrapper {
    width: 100%;
  }
  .business_higher_footer_block {
    width: 35%;
  }
  .menu_higher_footer_block {
    width: 35%;
  }
  .lingue_higher_footer_block {
    width: 30%;
  }
  .right_footer {
    padding: 20px 0px;
  }
  .right_footer p {
    font-size: 0.6rem;
  }
  .right_footer h5 {
    font-size: 0.8rem;
  }
  .right_footer img {
    width: 20px;
  }
}
/* end first section  */
/* second section  */
.lower_footer_bg {
  background-color: #040505;
  padding: 15px 0px;
  width: 100%;
}
.lower_footer_wrapper {
  justify-content: space-between;
  align-content: center;
  display: flex;
  margin: auto;
  width: 80%;
}
.lower_right_footer {
  justify-content: space-between;
  align-content: center;
  display: flex;
}
.lower_left_footer p {
  margin-bottom: 0px;
  font-size: 0.8rem;
  line-height: 60px;
  color: #B6A6AA;
}
.lower_right_footer a {
  text-transform: capitalize;
  text-decoration: underline;
  margin-right: 15px;
  line-height: 60px;
  font-size: 0.8rem;
  text-align: left;
  color: #B6A6AA;
}
.lower_right_footer a:last-child {
  margin: 0;
}
/* desktop  */
@media screen and (min-width: 992 px) and (max-width: 1200px) {

}
/* tablet  */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .lower_left_footer p {
    text-align: center;
  }
  .lower_right_footer {
    justify-content: center;
    align-content: center;
    display: flex;
  }
}
/* mobile  */
@media screen and (min-width: 0px) and (max-width: 767px) {
  .lower_left_footer p {
    text-align: center;
  }
  .lower_right_footer {
    justify-content: center;
    align-content: center;
    display: flex;
  }
}
/* end second section */
/* end footer  */
