{% extends "./layouts/base.html" %}
{% block body %}
<main>
    <section class="buyer_first_section_hero">
        <div class="buyer_first_section_higher_wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="hero_item">Your light on demand</p>
                <div class="buyer_first_section_central_wrapper">
                  <h1>Sei un buyer?</h1>
                  <h3>Scegli un fornitore affidabile, che sia sempre al tuo fianco</h3>
                  <p>Nel panorama globalizzato di oggi trovare fornitori affidabili e competenti può essere una sfida.
                    La nostra collaborazione ti offrirà soluzioni luminose innovative, personalizzabili e di qualità certificata, garantendoti la sicurezza di un processo preciso, rapido e che rispetti i tempi stabiliti.</p>
                </div>
              </div>
           </div>
          </div>
        </div>
      </section>
</main>
{% endblock body %}
