{% extends "./layouts/base.html" %}
{% block body %}
<main>
    <section class="buyer_first_section_hero">
      <div class="buyer_first_section_wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-5">
              <div class="buyer_first_section_info">
                <p>Your light on demand</p>
                <h1>Sei un buyer?</h1>
                <h3><strong>Scegli un fornitore affidabile, <br> che sia sempre al tuo fianco</strong></h3>
                <p>Nel panorama globalizzato di oggi trovare fornitori affidabili e competenti può essere una sfida.
                La nostra collaborazione ti offrirà soluzioni luminose innovative, personalizzabili e di qualità certificata, garantendoti la sicurezza di un processo preciso, rapido e che rispetti i tempi stabiliti.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="buyer_second_section_bg">
      <div class="buyer_second_section_wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
              <h2 class="buyer_second_section_title">Cosa possiamo offrirti?</h2>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
              <div class="buyer_second_section_item">
                <div class="buyer_img"></div>
                <p><strong>Collaborazione e sinergia.</strong></p>
                <p>Siamo pronti a cooperare nella fase progettuale, per dare luce alla soluzione che desideri. I nostri esperti ti assisteranno in ogni fase del progetto, dall’ideazione del prodotto fino al collaudo.</p>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
              <div class="buyer_second_section_item">
                <div class="buyer_img"></div>
                <p><strong>Integrità ed affidabilità.</strong></p>
                <p>Garantiamo un servizio preciso e puntuale, nel rispetto degli accordi presi nella fase di prevendita.
                  Puoi contare sulla nostra onestà: manteniamo sempre le promesse. </p>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
              <div class="buyer_second_section_item">
                <div class="buyer_img"></div>
                <p><strong>Qualità e innovazione.</strong></p>
                <p>Ci impegniamo costantemente per garantire elevati livelli qualitativi, comprovati dalle certificazioni, che rispettino gli standard di mercato.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="buyer_third_section_bg">
        <div class="buyer_third_section_wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-md-8 col-lg-12">
                <p class="buyer_third_section_title">Soluzioni personalizzate</p>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-5">
                <div class="buyer_third_section_item">
                  <h5>Come sviluppiamo un progetto</h5>
                  <p>Siamo specializzati nella progettazione e prototipazione di soluzioni personalizzate. Grazie al nostro team potrai customizzare ogni soluzione luminosa, esattamente come la desideri.</p>
                  <button>richiedi una soluzione personalizzata</button>
                </div>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="buyer_third_section_item">
                  <h5>settori applicativi</h5>
                  <ul>
                    <li>Home appliance</li>
                    <li>Automotive</li>
                    <li>HVAC</li>
                    <li>Lighthing</li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 col-md-12 col-lg-3">
                <div class="buyer_third_section_item_img">
                  <div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="home_fourth_section_bg">
        <div class="home_fourth_section_wrapper">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-5">
                <div class="right_fourth_section">
                  <h3>I nostri prodotti</h3>
                  <div class="rectangle_design"></div>
                  <p>Quando si parla di spazi ristretti, ovunque sia necessario un punto luce noi ci siamo.</p>
                  <p>I nostri prodotti illuminano tutti i settori.</p>
                  <button>Scarica il catalogo <i class="fas fa-download"></i></button>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-7">
                <div class="left_fourth_section">
                  <img src="{{get_asset_url('hs_slim/cms-rally/images/signal_part.png') }}" alt="segnalatore_bg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="home_fifth_section_bg">
        <div class="container-fluid">
          <div class="home_fifth_section_wrapper">
            <div class="row">
              <div class="col-sm-12 col-md-8 col-lg-6">
                <div class="buyer_right_fifth_section">
                  <h3>Configura il tuo prodotto.</h3>
                  <div class="rectangle_design"></div>
                  <p>Grazie al nostro configuratore, potrai selezionare la componentistica di cui hai bisogno in pochi e semplici passaggi.</p>
                  <button>configura un prodotto</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="buyer_sixth_section_bg">
        <div class="buyer_sixth_section_wrapper">
          <div class="container-fluid">
            <div class="row">
              <p class="buyer_sixth_section_title">Chi si è affidato a noi</p>
              <div class="col-xs-6 col-md-4 col-lg-2">
                <img src="{{get_asset_url('hs_slim/cms-rally/images/arcelik.png') }}" alt="arcelik_logo">
              </div>
              <div class="col-xs-6 col-md-4 col-lg-2">
                <img src="{{get_asset_url('hs_slim/cms-rally/images/tramontina.png') }}" alt="tramontina_logo">
              </div>
              <div class="col-xs-6 col-md-4 col-lg-2">
                <img src="{{get_asset_url('hs_slim/cms-rally/images/ariston.png') }}" alt="ariston_logo">
              </div>
              <div class="col-xs-6 col-md-4 col-lg-2">
                <img src="{{get_asset_url('hs_slim/cms-rally/images/gewiss.png') }}" alt="gewiss_logo">
              </div>
              <div class="col-xs-6 col-md-4 col-lg-2">
                <img src="{{get_asset_url('hs_slim/cms-rally/images/Frame 15.png') }}" alt="stanley_logo">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>
{% endblock body %}
