<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}
{% block body %}
<main>
  <section class="home_first_section_hero">
    <div class="home_first_section_higher_wrapper">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="hero_item">Your light on demand</p>
            <div class="home_first_section_central_wrapper">
              <p>Con passione dal 1973</p>
              <h2>Progettiamo, prototipiamo e sviluppiamo<br>prodotti di illuminotecnica.</h2>
              <p>Creiamo insieme a te soluzioni luminose</p>
              <div class="hero_buttons">
                <button class="homepage_hero_buttons_scopri">
                  Scopri di più
                </button>
                <button class="homepage_hero_buttons_contacts">
                  Contattaci
                </button>
              </div>
            </div>
          </div>
       </div>
      </div>
    </div>
  </section>
  <section class="home_second_section_bg">
    <div class="home_second_section_wrapper">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="home_second_section_filter_card">
              <div class="home_second_section_img">
                <img src="{{ get_asset_url('hs_slim/cms-rally/images/img_logo_human.png') }}" alt="filter_profile">
              </div>
              <h3>SEI UN TECNICO?</h3>
              <p>Scopri un partner competente e con esperienza nel settore: funzionalità, estetica ed innovazione al servizio delle soluzioni luminose.</p>
              <button>scopri</button>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="home_second_section_filter_card">
              <div class="home_second_section_img">
                <img src="{{ get_asset_url('hs_slim/cms-rally/images/img_logo_human.png') }}" alt="filter_profile">
              </div>
              <h3>SEI UN BUYER?</h3>
              <p>Elevata qualità dei prodotti, affidabilità e servizi di assistenza rapidi: scegli una collaborazione precisa in tutte le fasi del progetto.</p>
              <button>scopri</button>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="home_second_section_filter_card">
              <div class="home_second_section_img">
                <img src="{{ get_asset_url('hs_slim/cms-rally/images/img_logo_human.png') }}" alt="filter_profile">
              </div>
              <h3>SEI UN DISTRIBUTORE?</h3>
              <p>Scegli un fornitore flessibile, che ti garantisca un vasto catalogo di prodotti di qualità, soluzioni distintive e assistenza continua.</p>
              <button>scopri</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="home_third_section_bg">
    <div class="home_third_section_wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="higher_third_section">
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="higher_left_third_section">
                <h3 class="higher_left_third_title">Catalogo prodotti</h3>
                <div class="rectangle_design"></div>
                <p>Quando si parla di spazi ristretti, ovunque sia necessario <strong>un punto luce</strong> noi ci siamo.</p>
                <p>I nostri prodotti illuminano tutti i settori rispondendo a esigenze <strong>funzionali ed estetiche</strong>, grazie ad un design altamente studiato.</p>
                <button class="home_third_section_catalogue">Vedi catalogo</button>
                <ul class="home_third_section_logos">
                  <li class="logo_item">ciao<img src="" alt=""></li>
                  <li class="logo_item">ciao<img src="" alt=""></li>
                  <li class="logo_item">ciao<img src="" alt=""></li>
                  <li class="logo_item">ciao<img src="" alt=""></li>
                  <li class="logo_item">ciao<img src="" alt=""></li>
                  <li class="logo_item">ciao<img src="" alt=""></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8">
              <div class="higher_right_third_section"></div>
            </div>
          </div>
        </div>
        <div class="lower_third_section">
          <div class="lower_third_carousel_trigger">
            <a href=""><i class="fas fa-chevron-left"></i></a>
            <p><strong>2</strong> di 3</p>
            <a href=""><i class="fas fa-chevron-right"></i></a>
          </div>
          <div class="lower_third_section_product_wrapper">
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="lower_third_product_card">
                  <h4>TB/08/SB</h4>
                    <img src="{{ get_asset_url('hs_slim/cms-rally/images/light_signal.png') }}" alt="senalatore_img">
                  <p>Segnalatore luminoso con innesto da fronte pannello.</p>
                  <div class="lower_third_product_card_buttons">
                    <button>configura</button>
                    <button>scheda prodotto</button>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="lower_third_product_card">
                  <h4>TB/08/SB</h4>
                    <img src="{{ get_asset_url('hs_slim/cms-rally/images/light_signal.png') }}" alt="senalatore_img">
                  <p>Segnalatore luminoso con innesto da fronte pannello.</p>
                  <div class="lower_third_product_card_buttons">
                    <button>configura</button>
                    <button>scheda prodotto</button>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="lower_third_product_card">
                  <h4>TB/08/SB</h4>
                  <img src="{{ get_asset_url('hs_slim/cms-rally/images/light_signal.png') }}" alt="senalatore_img">
                  <p>Segnalatore luminoso con innesto da fronte pannello.</p>
                  <div class="lower_third_product_card_buttons">
                    <button>configura</button>
                    <button>scheda prodotto</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="home_fourth_section_bg">
      <div class="home_fourth_section_wrapper">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-7">
              <div class="left_fourth_section">
                <img src="{{get_asset_url('hs_slim/cms-rally/images/signal_part.png') }}" alt="segnalatore_bg">
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-5">
              <div class="right_fourth_section">
                <h3>Configura Prodotto</h3>
                <div class="rectangle_design"></div>
                <p>Grazie al nostro configuratore, potrai selezionare la componentistica di cui hai bisogno in pochi e semplici passaggi.</p>
                <p>Richiedi una quotazione o una campionatura.</p>
                <button>Configura prodotto</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="home_fifth_section_bg">
      <div class="container-fluid">
        <div class="home_fifth_section_wrapper">
          <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8">
              <div class="left_fifth_section">
                <h3>Realizziamo soluzioni personalizzate</h3>
                <div class="rectangle_design"></div>
                <p>Siamo specializzati nella progettazione e prototipazione di soluzioni personalizzate. </p>
                <p>Potrai richiedere soluzioni luminose, esattamente come le desideri.</p>
                <button>richiedi una soluzione personalizzata</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="home_sixth_section">
      <div class="container-fluid">
        <div class="home_sixth_section_wrapper">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="left_sixth_section">
                <p>il futuro è già iniziato, puoi vederlo?</p>
                <span>Ereditare il passato, farne tesoro e costruire il futuro <a class="slim_discover" href="">Scopri di più su SLIM</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="home_seventh_section">
      <div class="container-fluid">
        <div class="home_seventh_section_wrapper">
          <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8">
              <div class="higher_seventh_section">
                <h3>Approfondisci i prodotti, le nostre tecnologie, trend e novità</h3>
                <p>Dietro le quinte di SLIM: scopri il nostro blog</p>
              </div>
            </div>
            <div class="lower_seventh_section">
              <div class="lower_seventh_carousel_trigger">
                <a href=""><i class="fas fa-chevron-left"></i></a>
                <p><strong>2</strong> di 3</p>
                <a href=""><i class="fas fa-chevron-right"></i></a>
              </div>
              <div class="lower_seventh_section_product_wrapper">
                <div class="col-sm-12 col-md-6 col-lg-4">
                  <div class="lower_seventh_product_card">
                    <img src="{{get_asset_url('hs_slim/cms-rally/images/signal_image_slim.png') }}" alt="">
                    <div class="lower_seventh_product_info">
                      <button>automotive</button>
                      <div class="lower_seventh_product_internal_design">
                        <span>Data</span>
                        <div class="pipe_design"></div>
                        <span>Autore</span>
                      </div>
                      <p>micro faretti LED in versione rettangolare</p>
                      <a href="">Leggi l'articolo<i class="fas fa-angle-right"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                  <div class="lower_seventh_product_card">
                    <img src="{{get_asset_url('hs_slim/cms-rally/images/signal_image_slim.png') }}" alt="">
                    <div class="lower_seventh_product_info">
                      <button>automotive</button>
                      <div class="lower_seventh_product_internal_design">
                        <span>Data</span>
                        <div class="pipe_design"></div>
                        <span>Autore</span>
                      </div>
                      <p>micro faretti LED in versione rettangolare</p>
                      <a href="">Leggi l'articolo<i class="fas fa-angle-right"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                  <div class="lower_seventh_product_card">
                    <img src="{{get_asset_url('hs_slim/cms-rally/images/signal_image_slim.png') }}" alt="">
                    <div class="lower_seventh_product_info">
                      <button>automotive</button>
                      <div class="lower_seventh_product_internal_design">
                        <span>Data</span>
                        <div class="pipe_design"></div>
                        <span>Autore</span>
                      </div>
                      <p>micro faretti LED in versione rettangolare</p>
                      <a href="">Leggi l'articolo<i class="fas fa-angle-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="lower_seventh_blog_link">
                <a href="">Vai al blog</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="home_eight_section_bg">
      <div class="container-fluid">
        <div class="home_eight_section_wrapper">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="left_eight_section">
                <h3>Iscriviti alla newsletter</h3>
                <p>Resta aggiornato sulle novità di SLIM!</p>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="right_eight_section"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock body %}
