{% extends "./layouts/base.html" %}
{% block body %}
<main>
    <section class="product_first_section_bg">
        <div class="container-fluid">
            <div class="product_first_section_wrapper">
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-5">
                        <div class="left_first_section">
                            <div class="product_first_section_card">
                                <img src="{{get_asset_url('hs_slim/cms-rally/images/light_signal.png') }}" alt="prodotto_segnalatore">
                                <div class="lower_product_first_section">
                                    <a href=""><i class="fas fa-chevron-left"></i></a>
                                    <div class="lower_product_first_selection_wrapper_img">
                                        <img src="{{get_asset_url('hs_slim/cms-rally/images/light_signal.png') }}" alt="prodotto_segnalatore">
                                        <img src="{{get_asset_url('hs_slim/cms-rally/images/light_signal.png') }}" alt="prodotto_segnalatore">
                                        <img src="{{get_asset_url('hs_slim/cms-rally/images/light_signal.png') }}" alt="prodotto_segnalatore">
                                    </div>
                                    <a href=""><i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                            <ul class="product_first_section_logos">
                                <li class="product_logos_item">
                                    <img class="product_logos_img" src="{{get_asset_url('hs_slim/cms-rally/images/Inet.png') }}" alt="">
                                </li>
                                <li class="product_logos_item">
                                    <img class="product_logos_img" src="{{get_asset_url('hs_slim/cms-rally/images/logo_3.png') }}" alt="">
                                </li>
                                <li class="product_logos_item">
                                    <img class="product_logos_img" src="{{get_asset_url('hs_slim/cms-rally/images/dve.png') }}" alt="">
                                </li>
                                <li class="product_logos_item">
                                    <img class="product_logos_img" src="{{get_asset_url('hs_slim/cms-rally/images/ce.png') }}" alt="">
                                </li>
                                <li class="product_logos_item">
                                    <img class="product_logos_img" src="{{get_asset_url('hs_slim/cms-rally/images/gewiss.png') }}" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-7">
                        <div class="right_first_section">
                            <div class="higher_first_section">
                                <h1>TB/08/SB</h1>
                                <h3>segnalatore luminoso unità base TB</h3>
                                <div class="product_first_section_info">
                                    <a href="">prodotti<i class="fas fa-angle-right"></i></a>
                                    <a href="">segnalatori luminosi<i class="fas fa-angle-right"></i></a>
                                    <a href="">segnalatori per pannelli<i class="fas fa-angle-right"></i></a>
                                    <a href="">8mm<i class="fas fa-angle-right"></i></a>
                                </div>
                                <div class="product_first_section_buttons">
                                    <button>richiedi quotazione</button>
                                    <button>richiedi campionatura</button>
                                </div>
                            </div>
                            <div class="product_first_section_data">
                                <p>Dati Tecnici</p>
                                <a href="">scarica il pdf<i class="fas fa-download"></i></a>
                            </div>
                            <div class="middle_first_section">
                                <div class="middle_first_section_item">
                                    <p><strong>Tipi di lampada</strong></p>
                                    <p>Incandescenza - Neon/Fluoro/ LED</p>
                                    <p><strong>Temperatura di funzionamento</strong></p>
                                    <p>120°C Max - 150C Max</p>
                                    <p><strong>Spessore pannello consigliato</strong></p>
                                    <p>da 0,5mm a 2mm</p>
                                    <p><strong>Tipo di connessione</strong></p>
                                    <p>Cavo pvc - cavo silicone - cavo silicone-vetro</p>
                                </div>
                                <div class="middle_first_section_item">
                                    <p><strong>Tensione di funzionamento</strong></p>
                                    <p>2V - 6V - 12V - 24V - 48V - 110V - 250V - 400V </p>
                                    <p><strong>Diametro foro</strong></p>
                                    <p>8mm</p>
                                    <p><strong>Metodo di fissagggio sul pannello</strong></p>
                                    <p>Con dado</p>
                                    <p><strong>Tipo di lente</strong></p>
                                    <p>SB</p>
                                </div>
                            </div>
                            <div class="lower_first_section">
                                <div class="lower_first_section_item">
                                    <p id="no_padding">Home</p>
                                </div>
                                <div class="lower_first_section_item">
                                    <p>HVAC</p>
                                </div>
                                <div class="lower_first_section_item">
                                    <p>Automotive</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="product_second_section_bg">
            <div class="container-fluid">
                <div class="product_second_section_wrapper">
                    <div class="row">
                        <div class="col-xs-12 col-md-7 col-lg-8">
                            <div class="left_second_section">
                                <div class="left_second_section_item">
                                    <div class="rectangle_design"></div>
                                    <p>Segnalatore luminoso con innesto da fronte pannello.</p>
                                </div>
                                <div class="left_second_section_item">
                                    <div class="rectangle_design"></div>
                                    <p>Il colore della luce emessa è identificato dal colore del cavo.</p>
                                </div>
                                <div class="left_second_section_item">
                                    <div class="rectangle_design"></div>
                                    <p>Funzionamento in AC/DC senza bisogno  di polarizzare il segnale.</p>
                                </div>
                                <div class="left_second_section_item">
                                    <div class="rectangle_design"></div>
                                    <p>Possibilità di richiederlo con dado montato o separato</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-md-5 col-lg-4">
                            <div class="right_second_section">
                                <p>Ti interessa questo prodotto?</p>
                                <button>configura prodotto</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="home_fifth_section_bg">
            <div class="container-fluid">
                <div class="home_fifth_section_wrapper">
                    <div class="row">
                        <div class="col-xs-12 col-md-10 col-lg-8">
                            <div class="left_fifth_section">
                                <h3>Realizziamo soluzioni personalizzate</h3>
                                <div class="rectangle_design"></div>
                                <p>Siamo specializzati nella progettazione e prototipazione di soluzioni personalizzate. </p>
                                <p>Potrai richiedere soluzioni luminose, esattamente come le desideri.</p>
                                <button>richiedi una soluzione personalizzata</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="product_third_section_bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="product_third_section_wrapper">
                        <div class="col-xs-12 col-md-8 col-lg-9">
                            <div class="left_third_section">
                                <p>Hai bisogno di aiuto o di ulteriori informazioni?</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-3">
                            <div class="right_third_section">
                                <button>Contattaci</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock body %}
