{% extends "./layouts/base.html" %}
{% block body %}
<main>
    <section class="selection_bg">
        <div class="selection_wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-12">
                        <div class="higher_selection">
                            <p>
                            Seleziona un prodotto dal catalogo
                            </p>
                        </div>
                    </div>
                    <div class="flex_selection_nav_items">
                        <div class="middle_selection">
                            <span>Catalogo prodotti</span>
                            <span><i class="fas fa-long-arrow-alt-right"></i></span>
                            <span>Segnalatori Luminosi</span>
                            <span><i class="fas fa-long-arrow-alt-right"></i></span>
                            <span>Segnalatori per Pannelli</span>
                        </div>
                        <div class="left_selection">
                            <p>I tuoi risultati</p>
                        </div>
                    </div>
                    <div class="lower_selection"></div>
                </div>
            </div>
        </div>
      </section>
      <section class="selection_search_bg">
        <div class="selection_search_wrapper">
            <div class="container_card">
                <div class="selection_search_card">
                    <img class="selection_search_product" src="{{ get_asset_url('/hs_Slim/img/1525382178693unita-segnalazione.png') }}" alt="prodotto_segnalatore">
                    <div class="selection_search_card_bottom">
                        <p>6 mm</p>
                    </div>
                </div>
                <div class="selection_search_card">
                    <img class="selection_search_product" src="{{ get_asset_url('/hs_Slim/img/1525382178693unita-segnalazione.png') }}" alt="prodotto_segnalatore">
                    <div class="selection_search_card_bottom">
                        <p>6 mm</p>
                    </div>
                </div>
                <div class="selection_search_card">
                    <img class="selection_search_product" src="{{ get_asset_url('/hs_Slim/img/1525382178693unita-segnalazione.png') }}" alt="prodotto_segnalatore">
                    <div class="selection_search_card_bottom">
                        <p>6 mm</p>
                    </div>
                </div>
                <div class="selection_search_card">
                    <img class="selection_search_product" src="{{ get_asset_url('/hs_Slim/img/1525382178693unita-segnalazione.png') }}" alt="prodotto_segnalatore">
                    <div class="selection_search_card_bottom">
                        <p>6 mm</p>
                    </div>
                </div>
                <div class="selection_search_card">
                    <img class="selection_search_product" src="{{ get_asset_url('/hs_Slim/img/1525382178693unita-segnalazione.png') }}" alt="prodotto_segnalatore">
                    <div class="selection_search_card_bottom">
                        <p>6 mm</p>
                    </div>
                </div>
                <div class="selection_search_card">
                    <img class="selection_search_product" src="{{ get_asset_url('/hs_Slim/img/1525382178693unita-segnalazione.png') }}" alt="prodotto_segnalatore">
                    <div class="selection_search_card_bottom">
                        <p>6 mm</p>
                    </div>
                </div>
                <div class="selection_search_card">
                    <img class="selection_search_product" src="{{ get_asset_url('/hs_Slim/img/1525382178693unita-segnalazione.png') }}" alt="prodotto_segnalatore">
                    <div class="selection_search_card_bottom">
                        <p>6 mm</p>
                    </div>
                </div>
                <div class="selection_search_card">
                    <img class="selection_search_product" src="{{ get_asset_url('/hs_Slim/img/1525382178693unita-segnalazione.png') }}" alt="prodotto_segnalatore">
                    <div class="selection_search_card_bottom">
                        <p>6 mm</p>
                    </div>
                </div>
                <div class="selection_search_card">
                    <img class="selection_search_product" src="{{ get_asset_url('/hs_Slim/img/1525382178693unita-segnalazione.png') }}" alt="prodotto_segnalatore">
                    <div class="selection_search_card_bottom">
                        <p>6 mm</p>
                    </div>
                </div>
            </div>
        </div>
      </section>
</main>
{% endblock body %}
